* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Suwannaphum;
  src: url(../Personal-Information/Suwannaphum.ttf);
}
body {
  font-family: Suwannaphum;
}
.container {
  width: 70%;
  margin: auto;
  background-color: #eaeded;
  margin-top: 100px;
}
.container .header-context {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}
.container .header-context div {
  padding: 30px 0px 30px 0px;
}
.container .header-context div p {
  width: 80%;
  margin: auto;
}
.container .header-context div h2 {
  color: blue;
  font-size: 60px;
}
.container .context {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 100px 0px 100px 0px;
}
.container .context .content-1 {
  width: 40%;
  text-align: center;
}
.container .context .content-1 .context-profile {
  width: 90%;

  text-align: center;
  margin: auto;
  background-color: #21618c;
  color: white;
}
.container .context .content-1 .context-profile img,
.container .context .content-1 .context-profile h4 {
  padding: 10px;
  margin: 30px 0px 30px 0px;
}
.container .context .content-1 .context-profile h3 {
  width: 80%;
  margin: auto;
}
.container .context .content-1 .context-profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 90px;
}
.container .context .template {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.container .context .template .tem-group1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50%;
  margin-bottom: 10px;
}
.container .context .template .tem-group1 .template1 {
  width: 38%;
  border-bottom: 8px solid #f39c12;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
  margin: 0px 50px 0px 20px;
}
.container .context .template .tem-group1 .template1 h3 {
  width: 70%;
}
.container .context .template .tem-group1 .template2 {
  width: 38%;
  border-bottom: 8px solid #3498db;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
.container .context .template .tem-group1 .template2 img {
  width: 70px;
}
.container .context .template .tem-group1 .template1 img {
  width: 70px;
}

/*.................................. */
.container .context .template .tem-group2 {
  width: 100%;
  display: flex;
  flex-direction: row;

  height: 50%;
}
.container .context .template .tem-group2 .template1 {
  width: 38%;
  border-bottom: 8px solid blue;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
  margin: 0px 50px 0px 20px;
}
.container .context .template .tem-group2 .template2 {
  width: 38%;
  border-bottom: 8px solid yellow;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 40px;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
.container .context .template .tem-group2 .template2 img {
  width: 70px;
}
.container .context .template .tem-group2 .template1 img {
  width: 70px;
}

/* ...................................................... */
@media (max-width: 833px) {
  .container {
    width: 100%;
  }
  .container .header-context div h2 {
    font-size: 40px;
  }
  .container .header-context div p {
    width: 90%;
  }
  .container .context {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 100px 0px;
  }
  .container .context .content-1 {
    width: 100%;
    text-align: center;
  }
  .container .context .template {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .context .template .tem-group1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .container .context .template .tem-group1 .template1 {
    width: 90%;
    margin: 0px 0px 30px 39px;
  }
  .container .context .template .tem-group1 .template1 h3 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .container .context .template .tem-group1 .template1 h4 {
    padding: 15px 0px 30px 0px;
  }
  .container .context .template .tem-group1 .template2 {
    width: 90%;
    margin: 0px 0px 30px 39px;
  }
  .container .context .template .tem-group1 .template2 h3 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .container .context .template .tem-group1 .template2 h4 {
    padding: 15px 0px 30px 0px;
  }

  /* ........................ */
  .container .context .template .tem-group2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .container .context .template .tem-group2 .template1 {
    width: 90%;
    margin: 0px 0px 30px 39px;
  }
  .container .context .template .tem-group2 .template1 h3 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .container .context .template .tem-group2 .template1 h4 {
    padding: 15px 0px 30px 0px;
  }
  .container .context .template .tem-group2 .template2 {
    width: 90%;
    margin: 0px 0px 30px 39px;
  }
  .container .context .template .tem-group2 .template2 h3 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .container .context .template .tem-group2 .template2 h4 {
    padding: 15px 0px 30px 0px;
  }
}

@media (max-width: 1214px) {
  .container .context .content-1 .context-profile img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 415px) {
  .container .context .template .tem-group1 .template1 {
    margin: 0px 0px 30px 19px;
  }
  .container .context .template .tem-group1 .template2 {
    margin: 0px 0px 30px 19px;
  }
  .container .context .template .tem-group2 .template1 {
    margin: 0px 0px 30px 19px;
  }
  .container .context .template .tem-group2 .template2 {
    margin: 0px 0px 30px 19px;
  }
}
