.con {
  width: 70%;
  margin: auto;
  background-color: #3b4242;
  margin-top: 100px;
}
.con P {
  padding: 40px 0px 40px 0px;
  text-align: center;
  color: white;
  font-size: 13px;
}
@media (max-width: 415px) {
  .con {
    width: 100%;
  }
  .con P {
    padding: 20px 0px 20px 0px;
  }
}
